@using ArchitectureDecisionsCore
@model ArchitectureDecisionsWeb.Features.PrintViewDecision.ViewModel;
@{
    ViewData["Title"] = Model.Decision.DisplayName;
    Layout = "";
}
<html>
<head>
    <title>@Model.Decision.DisplayName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="container">

    <div class="text-left">
        <h1>@Html.Raw(Model.Decision.DisplayName)</h1>
    </div>

    <div class="text-left">
        <h2>Problem Statement</h2>
        @Html.Raw(Model.Decision.ProblemStatement)
    </div>
    <hr>
    <div class="text-left">
        <h2>Business Requirements</h2>
        @Html.Raw(Model.Decision.BusinessRequirements)
    </div>
    <hr/>
    <div class="text-left">
        <h2>Decision Criteria</h2>
        <p>
            Each option will be rated against these criteria.
        </p>
        <ul class="list-group-flush">
            @foreach (var criteria in Model.Decision.SolutionCriteria ?? Enumerable.Empty<Criteria>())
            {
                <li class="list-group-item">@criteria.Description</li>
            }
        </ul>
    </div>
    <hr/>
    <div class="text-left">
        <h2>Options</h2>
        @foreach (var option in Model.Decision.Options ?? Enumerable.Empty<Option>())
        {
            <h3 class="mb-1">
                @if (Model.Decision.ChosenOption == option.Id)
                {
                    <span class="badge bg-success badge-pill">✓</span>
                }
                @option.Name
            </h3>
            <div class="row">
                <div class="col-4">
                    @Html.Raw(option.Description)
                </div>
                <div class="col-8">
                    @Html.Raw(option.Diagram)
                </div>
            </div>
            <hr/>
        }
    </div>
    <hr/>
    <div class="text-left">
        <h4>Comparison</h4>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="w-25"></th>
                @foreach (var option in Model.Decision.Options ?? Enumerable.Empty<Option>())
                {
                    <th>
                        @option.Name
                        @if (Model.Decision.ChosenOption == option.Id)
                        {
                            <span class="badge bg-success badge-pill">✓</span>
                        }
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var criteria in Model.Decision.SolutionCriteria ?? Enumerable.Empty<Criteria>())
            {
                <tr>
                    <th scope="row">@criteria.Description</th>
                    @foreach (var option in Model.Decision.Options ?? Enumerable.Empty<Option>())
                    {
                        var comparison = Model.Decision.Comparison[criteria.Id][option.Id];

                        var className =
                            comparison.Rating.Rank == Rank.Poor
                                ? "background-danger"
                                : comparison.Rating.Rank == Rank.Average
                                    ? "bg-warning"
                                    : "bg-success";
                        <td>
                            @if (comparison.Rating.Rank == Rank.Poor)
                            {
                                <span class="badge bg-danger badge-pill">✗</span>
                            }
                            else if (comparison.Rating.Rank == Rank.Average)
                            {
                                <span class="badge bg-warning badge-pill">﹣</span>
                            }
                            else
                            {
                                <span class="badge bg-success badge-pill">✓</span>
                            }
                            @comparison.Rating.Commentary
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="text-left">
        <h4>Stakeholders</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="row">Name</th>
                <th scope="row">Role</th>
                <th scope="row">Socialised</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var stakeholder in Model.Decision.Stakeholders ?? Enumerable.Empty<Stakeholder>())
            {
                <tr>
                    <th scope="row">@stakeholder.Name</th>
                    <td>@stakeholder.Role</td>
                    <td>
                        @if (stakeholder.Socialised)
                        {
                            <span class="badge bg-success badge-pill">✓</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
</body>
</html>